.footer-wrapper {
  background-color: #161619;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.footer {
  padding: 1.5rem;
  display: flex;
  gap: 25px;
  font-size: 30px;
}

.footer > a {
  text-decoration: none;
  color: white;
}

.footer > a:hover {
  color: whitesmoke;
}
